body {
    background-color: #eee;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    background-color: black;
    color: bisque;
    margin: 150px auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h4 {
    margin-top: 0;
}

p {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 140px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid aquamarine;
    border-radius: 5px;
}

button {
    background-color: blueviolet;
    color: azure;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkviolet;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
